{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bus Pass</title>
{% if flag %}
  <link href="https://fonts.googleapis.com/css?family=Jura:400,700|Questrial|Inconsolata:400,700|Montserrat:900|Old+Standard+TT:700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
{% endif %}

</head>
<body>
<!-- partial:index.partial.html -->
{% if flag %}
<div class="main-content">
  <div class="ticket">
    <div class="ticket__main">
      <div class="header">BVRIT BUS PASS</div>
      <div class="info passenger">
        <div class="info__item">Student</div>
        <div class="info__detail">{{student}}</div>
      </div>
      <div class="info platform"> <span>Bus Name</span><span></span><span></span>
        <div class="number">
          <div>

          </div>
          <div>
          <center> <span>{{busName}}</span></center><center><span></span></center>
          </div>
        </div>
      </div>
      <div class="info departure">
        <div class="info__item">Boarding Point</div>
        <div class="info__detail">{{boardingPoint}}</div>
      </div>
      <div class="info arrival">
        <div class="info__item">Destination</div>
        <div class="info__detail">Bvrit-Narsapur</div>
      </div>
      <div class="info date">
        <div class="info__item">Date</div>
        <div class="info__detail">Everyday</div>
      </div>
      <div class="info time">
        <div class="info__item">Time</div>
        <div class="info__detail">{{time}}</div>
      </div>
      <div class="info carriage">
        <div class="info__item">Allow Only</div>
        <div class="info__detail">1</div>
      </div>
      <div class="info seat">
        <div class="info__item">Seat</div>
        <div class="info__detail">{{seatNum}}</div>
      </div>
      <div class="fineprint"> 
        <p>Please Be ready at the boarding point atleast 10 minutes before the time specified.</p>
        <p>BVRIT Transport Management - Narsapur</p>
      </div>
      
      <div class="barcode">
        
      </div>
    </div>
    <div class="ticket__side">
      <div class="logo"> 
        <p>BVRIT BUS PASS</p>
      </div>
      <div class="info side-arrive">
        <div class="info__item">Destination</div>
        <div class="info__detail">BVRITN</div>
      </div>
      <div class="info side-depart">
        <div class="info__item">Boarding Point</div>
        <div class="info__detail">{{boardingPoint}}</div>
      </div>
      <div class="info side-date">
        <div class="info__item">Date</div>
        <div class="info__detail">Everyday</div>
      </div>
      <div class="info side-time">
        <div class="info__item">Time</div>
        <div class="info__detail">{{time}}</div>
      </div>
      <div class="barcode">
      </div>
    </div>
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
{% else %}
  {% if messages  %}
  <ul class="messages">
      {% for message in messages %}
      <center>
          <script>
            alert('{{message}}');
            window.location.replace("http://127.0.0.1:8000/user/landing-page");
          </script>
      </center>
    {% endfor %}
  </ul>
  {% endif %}
{% endif %}
</body>
</html>
