{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'Raleway' %}"
        rel="stylesheet">

    <title>Student Home Page</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">My Profile</a></li>
                            <li class="scroll-to-section"><a href="#projects">View Bus-Pass</a></li>
                            <li class="submenu">
                                <a href="">Fee Payment</a>
                                <ul>
                                    <li><a href="">Earlier Payments</a></li>
                                    <li><a href="">Due Information</a></li>
                                    <li><a href="">Pay Fee</a></li>

                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us">Submit Transport Request</a></li>
                            <li class="scroll-to-section"><a href="{% url 'logout' %}">Logout</a></li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Search Area ***** -->
    <style>
        label {
            width: 150px;
            display: inline-block;
            text-align: left;
        }
    </style>
    <div id="search">
        <button type="button" class="close">×</button>
        <form id="contact" action="#" method="get">
            <fieldset>
                <input type="search" name="q" placeholder="SEARCH KEYWORD(s)" aria-label="Search through site content">
            </fieldset>
            <fieldset>
                <button type="submit" class="main-button">Search</button>
            </fieldset>
        </form>
    </div>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="{% static 'assets/images/slide-01.jpg' %}" alt="">
                    <div class="text-content">
                        <h5>Welcome To Student Transport Management Facility</h5>

                    </div>
                </div>
            </div>
            <!-- // Item -->


        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">

                        <div class="section-heading">

                            <h2>My Profile</h2>
                        </div>
                        <img src="{% static 'assets/images/User Icon.svg' %}" height="350px" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p>
                        <div class="Profile">
                            <label>Name: </label><input type="text" value="{{ user.name }}" readonly><br /><br />
                            <label>Roll Number:</label><input type="text" value="{{ user.rollnum}}" readonly><br /><br />
                            <label>Email:</label><input type="text" value="{{ user.email }}" readonly><br /><br />
                            <label>Department:</label><input type="text" value="{{ user.department }}" readonly><br /><br />
                            <label>Phone Number:</label><input type="text" value="{{ user.mobile }}" readonly><br /><br />
                            <label>Bus Name:</label><input type="text" value="{{ user.busName }}" readonly><br /><br />
                            <label>Boarding Point:</label><input type="text" value="{{ user.boardingPoint }}" readonly><br /><br />
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->

    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->





    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        </br>
                        <div class="section-heading">

                            <h2>Submit a Transport Request!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="{% static 'assets/images/contact-info-01.png' %}" alt="">+91 9121177698</li>
                            <li><img src="{% static 'assets/images/contact-info-02.png' %}" alt="">transport@bvrit.ac.in</li>
                            <li><img src="{% static 'assets/images/contact-info-03.png' %}" alt="">https://www.bvrit.ac.in/</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="{% url 'trans-request' %}" method="POST">

                            <div class="col-md-6 col-sm-12">
                                <center>
                                    <div class="section-heading">
                                        <h2>Select your boarding point!</h2>
                                    </div>
                                    <fieldset>
                                        <select name="stopName" width="250" STYLE="width: 250px;height: 40px;" required>
                                            <option value="">Your Boarding point</option>
                                            {% for entry in stops %}
                                                <option value="{{ entry }}">{{ entry }}</option>
                                            {% endfor %}
                                        </select>
                                    </fieldset>
                            </div>
                            </br>
                            </br>
                            <div class="col-lg-12">
                                <fieldset>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
                                        type="submit" id="form-submit" class="main-button-icon">Submit
                                        <i class="fa fa-arrow-right"></i></button>
                                </fieldset>
                                <br/>
                                {% if messages  %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <center>
                                            <div class="alert alert-success" style="height:auto;width:auto">
                                                {{message}}
                                            </div>
                                        </center>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </center>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                        <ul class="social-icons">
                            <li>
                                <p>Follow Us</p>
                            </li>
                            <li><a rel="nofollow" href="https://www.facebook.com/BVRIT"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a rel="nofollow"
                                    href="https://www.linkedin.com/school/bv-raju-institute-of-technology-bvrit-/"><i
                                        class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    
</body>

</html>